*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f4f4f4;
}

/* NAV */

nav{
    width: 100%;
    height: 70px;
    background-color: #293f10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.logo{
    color: white;
    font-size: 28px;
    font-weight: bold;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* BANNER */

.banner{
    width: 100%;
    height: 500px;
    background-image: url("/photo-1779079516892-d1b8bc4dd64a.avif");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1{
    color: white;
    font-size: 70px;
    font-weight: bold;
}

/* SECTION 02 */

.content{
    width: 100%;
    display: flex;
    background-color: white;
}

.left{
    width: 50%;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left h2{
    font-size: 45px;
}

.right{
    width: 50%;
    padding: 80px;
}

.right p{
    margin-bottom: 20px;
    line-height: 1.8;
    text-align: justify;
}